@charset "UTF-8";

@import url("aaa.css");
@import "aaa.css\"'"; /* {*/

.ui-warp .ui-title-warp /*{*/ {
  margin: 20px 0 10px;
}

.ui-warp .ui-title-cont {
  font-size: 20px;
}

.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}

@font-face {
  font-family: "Roboto";
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.eot");
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.eot?#iefix") format("embedded-opentype"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.woff2") format("woff2"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.woff") format("woff"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-thin.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Roboto";
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-light.eot");
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-light.eot?#iefix") format("embedded-opentype"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-light.woff2") format("woff2"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-light.woff") format("woff"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.eot");
  src: url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.eot?#iefix") format("embedded-opentype"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.woff2") format("woff2"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.woff") format("woff"), url("//i.alicdn.com/artascope-font/20160419204543/font/roboto-regular.ttf") format("truetype");
  font-weight: 400;
}


.ui-warp .ui-title-cont {
  font-size: 20px;
}

.ui-warp .ui-title-cont a,
.ui-warp .ui-task-desc .ui-elem {
  font-size: 14px;
  margin-left: 10px;
  content: "hello}\"\\";
}

@media all and (-webkit-min-device-pixel-ratio: 0) /*^)(J_J<">}}")*/ and (min-resolution: 0.001dpcm) {
  .next-icon-xxs {
    -webkit-transform: scale(0.5) translateX(0);
    -ms-transform: scale(0.5) translateX(0);
    transform: scale(0.5) translateX(0);
  }
  .next-icon-xxs:before {
    width: 16px;
    font-size: 16px;
  }
}

.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}

@keyframes fadeIn {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
  }
}

.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}
.ui-warp .ui-title-cont {
  font-size: 20px;
}

@-webkit-keyframes fadeInDown {
  0% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  100% {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}
